################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/used_cars_data.csv

/input/
/output/jeep_numeric.csv
/output/jeep_refined.csv
/output/y.csv
/inputJeep.csv
/jeep.csv
