################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/used_cars_data.csv

/input/
